*{
    margin: 0;
    padding: 0;
    background-color:white;
    color:black;
    box-sizing: border-box;
}
nav{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border:1px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 0px;
}
.list{
    display: flex;
    list-style: none; 
    margin-right: 25%;
}
.list ul{
    display: flex;
    list-style: none;
}
.list li{
    font-size: 20px; 
    color:black;
    cursor: pointer;
    margin-right: 30px;
    list-style: none;
    list-style-type: none; 
    text-decoration: none;
}
.list li a{
    list-style-type: none; 
    text-decoration: none;
}
.list li:hover{
    transform: scale(1.05);
}
.list li a:hover{
    color: red;
}
.list li:active
{
    transform: scale(0.95);
}
.icons{
    display: flex;
    align-items: center; 
}
.icons li{
    list-style: none;
    font-size: 20px;
    margin-right: 20px;
}
.icons li a{
    list-style-type:none;
    text-decoration: none;
}
.icons li:hover{
    transform: scale(1.05);
}
.icons li a:hover{
    color: red;
}
.icons li:active
{
    transform: scale(0.95);
}
.background-clip{
    margin-top:3px;
    width:1340px;
    height:auto;
}
.men h1{
    margin-top: 20px;
    font-size:90px;
    text-align: center;
}
.men p{
      font-size: 30px;
      margin-top: 30px;
}
.img{
    height:250px;
}
.all{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 20px;
}
.line1{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);
}
.line1:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.all1{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 20px;
}
.all2{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 20px;
}
footer{
    margin-top: 50px;
    text-align: center;
    background-color: white;
    color:black;
    border: 1px solid rgba(0, 0, 0, 0.5);
}